<div class="columns">
  <div class="column is-12">
      <app-polkascan-header></app-polkascan-header>

      <div *ngIf="runtimeModule$ | async as runtimeModule">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header">
                  <p class="card-header-title">
                      Runtime module "{{ runtimeModule.attributes.name }}" for runtime # {{ runtimeModule.attributes.spec_version }}
                  </p>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-cog fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="runtimeModule">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                  <td width="20%">Name</td>
                                  <td >{{runtimeModule.attributes.name}}</td>
                              </tr>
                              <tr>
                                  <td>Spec version</td>
                                  <td>{{runtimeModule.attributes.spec_version}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
        <section *ngIf="runtimeModule.relationships.calls.data.length > 0">
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        Call functions
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                             <thead>
                              <tr>
                                <th></th>
                                <th>Name</th>
                                <th class="is-hidden-mobile">Lookup</th>
                                <th class="is-hidden-mobile">Parameters</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let call of runtimeModule.relationships.calls.data; trackBy: runtimeModule.relationships.calls.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-file-alt"></i>
                                    </td>
                                    <td>{{ call.attributes.name }}</td>
                                    <td class="is-hidden-mobile">{{ call.attributes.lookup }}</td>
                                    <td class="is-hidden-mobile">{{ call.attributes.count_params }}</td>

                                    <td width="5%"><a class="button is-small is-primary" routerLink="/system/runtime-call/{{ call.id }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf="runtimeModule.relationships.events.data.length > 0">
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        Events
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                             <thead>
                              <tr>
                                <th></th>
                                <th>Name</th>
                                <th class="is-hidden-mobile">Lookup</th>
                                <th class="is-hidden-mobile">Attributes</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of runtimeModule.relationships.events.data; trackBy: runtimeModule.relationships.events.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-calendar-check"></i>
                                    </td>
                                    <td>{{ event.attributes.name }}</td>
                                    <td class="is-hidden-mobile">{{ event.attributes.lookup }}</td>
                                    <td class="is-hidden-mobile">{{ event.attributes.count_attributes }}</td>

                                    <td width="5%"><a class="button is-small is-primary" routerLink="/system/runtime-event/{{ event.id }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
      </div>
  </div>
</div>
