<app-polkascan-header></app-polkascan-header>
<section class="is-12">
 <div class="card">
        <header class="card-header">
            <p class="card-header-title">
              Settings
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
              <table class="table is-fullwidth is-striped">
                  <tbody>
                      <tr>
                        <td>API URL</td>
                        <td>{{ environment.jsonApiRootUrl }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
</section>
