<app-polkascan-header></app-polkascan-header>
<section class="is-12">
 <div class="card">
        <header class="card-header">
            <p class="card-header-title">
              {{ 'sesttings.Settings' | translate }}
            </p>
        </header>
        <div class="card-table">
          <div class="content">
              <table class="table is-fullwidth is-striped">
                  <tbody>
                      <tr>
                        <td>{{ 'sesttings.API URL' | translate }}</td>
                        <td>{{ environment.jsonApiRootUrl }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
</section>
