<ng-container [ngSwitch]="item.type">
  <div *ngSwitchCase="'Address'"><a routerLink="{{ networkURLPrefix }}/account/{{ item.value }}" class="address-mobile-format"><app-identicon [accountId]="item.orig_value"></app-identicon> {{ item.value }}</a></div>
  <div *ngSwitchCase="'PropIndex'"><a routerLink="{{ networkURLPrefix }}//democracy/proposal/{{ item.value }}">Proposal #{{ item.value }}</a></div>
  <div *ngSwitchCase="'Balance'">{{ formatBalance(item.value) | number}} {{ networkTokenSymbol }}</div>
  <div *ngSwitchCase="'Compact<Balance>'">{{ formatBalance(item.value) | number}} {{ networkTokenSymbol }}</div>
  <div *ngSwitchCase="'Compact<BalanceOf>'">{{ formatBalance(item.value) | number}} {{ networkTokenSymbol }}</div>
  <div *ngSwitchCase="'Compact<Moment>'">{{ item.value | date:'medium' }}</div>
  <div *ngSwitchCase="'bool'">
    <i *ngIf="item.value" class="fa fa-check" style="color: forestgreen"></i>
    <i *ngIf="!item.value" class="fa fa-times" style="color: darkred"></i>
  </div>
  <div *ngSwitchDefault><app-struct
    [struct]="item.value"
    [networkTokenDecimals]="networkTokenDecimals"
    [networkTokenSymbol]="networkTokenSymbol"
  ></app-struct></div>
</ng-container>
