<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" routerLink="/">
              {{ title }}
    </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="/system/block">
                  Blocks
                </a>
            </div>

        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="container" [ngClass]="{
  'network-alexander': environment.networkName == 'Alexander',
  'network-edgeware': environment.networkName == 'Edgeware',
  'network-robonomics': environment.networkName == 'Robonomics'
}">
    <router-outlet></router-outlet>
</div>
