<div [ngClass]="{
    'network-alexander': environment.networkName == 'Alexander',
    'network-edgeware': environment.networkName == 'Edgeware',
    'network-robonomics': environment.networkName == 'Robonomics',
    'network-joystream': environment.networkName == 'Joystream',
    'network-kusama': environment.networkName == 'Kusama'

  }">
  <!-- START NAV -->
  <nav class="navbar is-black network-alexander" role="navigation" aria-label="main navigation" >
      <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item brand-text" routerLink="/">
                <img src="assets/logo.png" width="120">
              </a>
              <a role="button" class="navbar-burger burger" data-target="navMenu" [ngClass]="{'is-active': showNavigation}" (click)="toggleNavigation()">
                  <span></span>
                  <span></span>
                  <span></span>
              </a>
          </div>
          <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': showNavigation}">
              <div class="navbar-start">
                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                      {{ 'NavBar.Chain' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                      <a class="navbar-item" routerLink="/block">
                        {{ 'NavBar.item_Blocks' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/transaction">
                        {{ 'NavBar.item_Transactions' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/inherent">
                        {{ 'NavBar.item_Inherents' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/event">
                        {{ 'NavBar.item_Events' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/log">
                        {{ 'NavBar.item_Logs' | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                      {{ 'NavBar.Accounts' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                      <a class="navbar-item" routerLink="/account">
                        {{ 'NavBar.item_Accounts' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/indices/account">
                        {{ 'NavBar.item_Indices' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/balances/transfer">
                        {{ 'NavBar.item_Transfers' | translate }}
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item" routerLink="/contracts/contract">
                        {{ 'NavBar.item_Contracts' | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                      {{ 'NavBar.Staking' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                       <a class="navbar-item" routerLink="/session/session">
                        {{ 'NavBar.item_Sessions' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/session/validator">
                        {{ 'NavBar.item_Validators' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/session/nominator">
                        {{ 'NavBar.item_Nominators' | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                      {{ 'NavBar.Governance' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                       <a class="navbar-item" routerLink="/democracy/proposal">
                        {{ 'NavBar.item_Proposals' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/democracy/referendum">
                        {{ 'NavBar.item_Referenda' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/council/motion">
                        {{ 'NavBar.item_CouncilMotions' | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                        {{ 'NavBar.Analytics' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                       <a class="navbar-item" routerLink="/analytics/search">
                           {{ 'NavBar.item_Search' | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                        {{ 'NavBar.Runtime' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                      <a class="navbar-item" routerLink="/runtime-module">
                        {{ 'NavBar.item_Modules' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/runtime-type">
                        {{ 'NavBar.item_Types' | translate }}
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item" routerLink="/runtime">
                        {{ 'NavBar.item_Upgrade_history' | translate }}
                      </a>
                    </div>
                  </div>
              </div>

              <div class="navbar-end">
                <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                    <a class="navbar-link">
                      <i class="fa fa-language language-icon" aria-hidden="true"></i> {{ langsTitle(selectedLanguage) }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                      <ul *ngFor="let lang of langs">
                        <li>
                          <a class="navbar-item" (click)="selectedLanguage = lang; translate.use(lang)">
                            {{ langsTitle(lang) }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>

          </div>
        </div>
  </nav>
  <!-- END NAV -->
  <div class="container" >
      <router-outlet></router-outlet>
  </div>
</div>
