<div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <div *ngIf="session$ | async as session">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header">
                  <p class="card-header-title">
                      Session #{{ session.id }}
                  </p>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-file-contract fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="session">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                <td width="20%">Start at block</td>
                                <td><a routerLink="/block/{{ session.attributes.start_at_block }}">{{ session.attributes.start_at_block }}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">End at block</td>
                                <td><a routerLink="/block/{{ session.attributes.end_at_block }}">{{ session.attributes.end_at_block }}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">Era</td>
                                <td>{{ session.attributes.era || 'N/A'}}</td>
                              </tr>
                              <tr>
                                <td width="20%">Block count</td>
                                <td>{{ session.attributes.count_blocks }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        Validators
                    </p>
                    <a  class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="session.relationships.validators.data.length === 0"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="session.relationships.validators.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>Address</th>
                                <th>Rank</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let validator of session.relationships.validators.data; trackBy: session.relationships.validators.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-id-badge"></i>
                                    </td>
                                    <td>{{ validator.attributes.validator }}</td>
                                    <td>{{ validator.attributes.rank_validator || 'N/A'}}</td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="/account/{{ validator.attributes.validator }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
