
      <div *ngIf="extrinsic" class="card events-card">
        <header class="card-header">
            <div class="card-header-title">
               Extrinsic #{{ extrinsic.id }}
            </div>
            <a  class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i *ngIf="extrinsic.attributes.signed" class="fa fa-file-signature fa-2x"></i>
              <i *ngIf="extrinsic.attributes.unsigned" class="fa fa-file-alt fa-2x"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr *ngIf="context != 'block'">
                          <td width="15%">Block</td>
                          <td><a routerLink="/block/{{ extrinsic.attributes.block_id }}">{{ extrinsic.attributes.block_id }}</a></td>
                        </tr>
                        <tr>
                          <td width="15%">Extrinsic Index</td>
                          <td>{{ extrinsic.attributes.extrinsic_idx }}</td>
                        </tr>
                        <tr *ngIf="extrinsic.attributes.extrinsic_hash">
                          <td width="15%">Extrinsic Hash</td>
                          <td><a routerLink="/extrinsic/0x{{ extrinsic.attributes.extrinsic_hash}}">0x{{ extrinsic.attributes.extrinsic_hash}}</a></td>
                        </tr>
                        <tr>
                          <td width="15%">Module</td>
                          <td>{{ extrinsic.attributes.module_id }}</td>
                        </tr>
                        <tr>
                          <td width="15%">Call</td>
                          <td>{{ extrinsic.attributes.call_id }}</td>
                        </tr>
                        <tr *ngIf="extrinsic.attributes.signed && extrinsic.attributes.address">
                          <td width="15%">Address</td>
                          <td><a routerLink="/account/{{ extrinsic.attributes.address }}"><app-identicon [accountId]="extrinsic.attributes.address_id"></app-identicon> {{ extrinsic.attributes.address }}</a></td>
                        </tr>
                        <tr *ngIf="extrinsic.attributes.signed && extrinsic.attributes.account_index">
                          <td width="15%">Account Index</td>
                          <td>{{ extrinsic.attributes.account_index }}</td>
                        </tr>
                        <tr *ngIf="extrinsic.attributes.signed">
                          <td width="15%">Nonce</td>
                          <td>{{ extrinsic.attributes.nonce }}</td>
                        </tr>
                        <tr *ngIf="extrinsic.attributes.signed">
                          <td width="15%">Signature</td>
                          <td>0x{{ extrinsic.attributes.signature | slice:0:63}}<wbr>{{ extrinsic.attributes.signature | slice:63:128}}</td>
                        </tr>
                        <tr>
                          <td width="15%">Result</td>
                          <td>
                            <i *ngIf="extrinsic.attributes.success" class="fa fa-check" style="color: forestgreen"></i>
                            <i *ngIf="extrinsic.attributes.error" class="fa fa-times" style="color: darkred"></i>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-table" *ngIf="extrinsic.attributes.params">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <thead>
                      <tr>
                        <th colspan="2" style="color: #8F99A3; font-weight: 400; font-size: 16px">Parameters</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let param of extrinsic.attributes.params">
                          <td width="15%">{{ paramName(param.name) | titlecase}}</td>
                          <td [ngSwitch]="param.type">
                            <div *ngSwitchCase="'Address'"><a routerLink="/account/{{ param.value }}"><app-identicon [accountId]="param.orig_value"></app-identicon>{{ param.value }}</a></div>
                            <div *ngSwitchCase="'Compact<Balance>'">{{ formatBalance(param.value) | number}} {{ networkTokenSymbol }}</div>
                            <div *ngSwitchCase="'Compact<Moment>'">{{ param.value | date:'medium' }}</div>
                            <div *ngSwitchDefault><pre>{{ param.value | json }}</pre></div>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
