<table class="table is-striped" *ngIf="proposal">
  <tbody>
    <tr *ngIf="proposal.call_documentation">
      <td>{{ 'Proposal.Description' | translate }}</td>
      <td>{{ proposal.call_documentation }}</td>
    </tr>
    <tr>
      <td>{{ 'Proposal.Module' | translate }}</td>
      <td>{{ proposal.call_module }}</td>
    </tr>
    <tr>
      <td>{{ 'Proposal.Call' | translate }}</td>
      <td>{{ proposal.call_name }}</td>
    </tr>
    <tr>
      <td>{{ 'Proposal.Parameters' | translate }}</td>
      <td>
        <app-struct
          [struct]="proposal.params"
          [networkTokenDecimals]="networkTokenDecimals"
          [networkTokenSymbol]="networkTokenSymbol"
          [networkURLPrefix]="networkURLPrefix"
        ></app-struct>
      </td>
    </tr>
  </tbody>
</table>
