<div class="columns">
  <div class="column is-12">
      <app-polkascan-header></app-polkascan-header>

      <div *ngIf="block$ | async as block">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header">
                  <p class="card-header-title">
                      Block #{{ block.id }}
                  </p>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-cube fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="block">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                  <td width="15%">Timestamp</td>
                                  <td>{{ block.attributes.datetime | date:'medium'}}</td>
                              </tr>
                              <tr>
                                  <td width="15%">Hash</td>
                                  <td>{{block.attributes.hash}}</td>
                              </tr>
                              <tr>
                                  <td>Parent hash</td>
                                  <td><a *ngIf="block.id > 0" routerLink="/block/{{ block.id - 1 }}">{{block.attributes.parent_hash}}</a></td>
                              </tr>
                              <tr>
                                  <td>State Root</td>
                                  <td >{{block.attributes.state_root}}</td>
                              </tr>
                              <tr>
                                  <td>Extrinsics Root</td>
                                  <td >{{block.attributes.extrinsics_root}}</td>
                              </tr>
                              <tr>
                                  <td>Total extrinsics</td>
                                  <td >{{block.attributes.count_extrinsics}}</td>
                              </tr>
                              <tr>
                                  <td>Total signed extrinsics</td>
                                  <td >{{ block.attributes.count_extrinsics_signed }}</td>
                              </tr>
                              <tr>
                                  <td>Total failed extrinsics</td>
                                  <td >{{ block.attributes.count_extrinsics_error }}</td>
                              </tr>
                              <tr>
                                  <td>Total events</td>
                                  <td >{{block.attributes.count_events}}</td>
                              </tr>
                              <tr>
                                  <td>Total system events</td>
                                  <td >{{block.attributes.count_events_system}}</td>
                              </tr>
                              <tr>
                                  <td>Total module events</td>
                                  <td >{{block.attributes.count_events_module}}</td>
                              </tr>
                              <tr>
                                  <td>New accounts</td>
                                  <td >{{block.attributes.count_contracts_new}}</td>
                              </tr>
                              <tr>
                                  <td>Reaped accounts</td>
                                  <td >{{block.attributes.count_accounts_reaped}}</td>
                              </tr>
                              <tr>
                                  <td>New contracts</td>
                                  <td >{{block.attributes.count_contracts_new}}</td>
                              </tr>
                              <tr>
                                  <td>New sessions</td>
                                  <td >{{block.attributes.count_sessions_new}}</td>
                              </tr>
                              <tr>
                                  <td>Runtime version</td>
                                  <td><a routerLink="/runtime/{{ block.attributes.spec_version_id }}">{{block.attributes.spec_version_id}}</a></td>
                              </tr>
                              <tr *ngIf="blockTotal$ | async as blockTotal">
                                  <td>Block time</td>
                                  <td >{{blockTotal.attributes.blocktime }} seconds</td>
                              </tr>
                              <tr *ngIf="blockTotal$ | async as blockTotal">
                                  <td>Session ID</td>
                                  <td><a routerLink="/session/session/{{ blockTotal.attributes.session_id }}">{{ blockTotal.attributes.session_id }}</a></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
        <section class="info-tiles" *ngFor="let extrinsic of block.relationships.extrinsics.data; trackBy: block.relationships.extrinsics.trackBy">
          <app-extrinsic-table
            [extrinsic]="extrinsic"
            context="block"
            [networkTokenDecimals]="networkTokenDecimals"
            [networkTokenSymbol]="networkTokenSymbol"
          ></app-extrinsic-table>
        </section>
        <section class="info-tiles" *ngFor="let event of block.relationships.events.data; trackBy: block.relationships.events.trackBy">
           <app-event-table
            [event]="event"
            context="block"
            [networkTokenDecimals]="networkTokenDecimals"
            [networkTokenSymbol]="networkTokenSymbol"
          ></app-event-table>
        </section>
      </div>
  </div>
</div>
