<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        Extrinsics
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                  <table class="table is-fullwidth is-striped">
                    <tbody>
                    <tr>
                      <td><div class="field">
                        <div class="control">
                          <label class="checkbox">
                            <input type="checkbox" [value]="true" [(ngModel)]="signedOnly" (ngModelChange)="refreshExtrinsics($event)"> Signed only
                          </label>
                        </div>
                      </div>
                    </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="extrinsics.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="extrinsics.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Block number</th>
                                <th class="is-hidden-mobile">Module</th>
                                <th class="is-hidden-mobile">Call</th>
                                <th class="is-hidden-mobile">Signed</th>
                                <th>Success</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let extrinsic of extrinsics.data; trackBy: extrinsics.trackBy">
                                    <td width="5%">
                                      <i *ngIf="extrinsic.attributes.signed" class="fa fa-file-signature"></i>
                                      <i *ngIf="extrinsic.attributes.unsigned" class="fa fa-file-alt"></i>
                                    </td>
                                    <td>{{ extrinsic.id }}</td>
                                    <td><a routerLink="/system/block/{{ extrinsic.attributes.block_id }}">{{ extrinsic.attributes.block_id }}</a></td>
                                    <td class="is-hidden-mobile">{{ extrinsic.attributes.module_id }}</td>
                                    <td class="is-hidden-mobile">{{ extrinsic.attributes.call_id }}</td>
                                    <td class="is-hidden-mobile"><span *ngIf="extrinsic.attributes.signed">Yes</span><span *ngIf="!extrinsic.attributes.signed">No</span></td>
                                    <td>
                                      <i *ngIf="extrinsic.attributes.success" class="fa fa-check" style="color: forestgreen"></i>
                                      <i *ngIf="extrinsic.attributes.error" class="fa fa-times" style="color: darkred"></i>
                                    </td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="/system/extrinsic/{{ extrinsic.attributes.extrinsic_hash ? '0x' + extrinsic.attributes.extrinsic_hash : extrinsic.id }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="no-items" *ngIf="extrinsics.data.length == 0 && !extrinsics.is_loading">No items</div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a (click)="getNextExtrinsics()" class="card-footer-item">View next</a>
                </footer>
            </div>
        </section>
    </div>
</div>
