<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        Blocks
                    </p>
                    <a  class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="blocks.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="blocks.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>Number</th>
                                <th class="is-hidden-mobile">Age</th>
                                <th class="is-hidden-mobile">Block hash</th>
                                <th>Extrinsics</th>
                                <th>Events</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let block of blocks.data; trackBy: blocks.trackBy">
                                    <td width="5%"><i class="fa fa-cube"></i></td>
                                    <td width="10%">#{{ block.id }}</td>
                                    <td class="is-hidden-mobile"><span rel="tooltip" title="{{ block.attributes.datetime | date:'medium'}}">{{ block.attributes.datetime | timeago }}</span></td>
                                    <td class="is-hidden-mobile">{{ block.attributes.hash | slice:0:8 }}...{{ block.attributes.hash | slice:60:66 }}</td>
                                    <td>{{ block.attributes.count_extrinsics }}</td>
                                    <td>{{ block.attributes.count_events }}</td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="/block/{{ block.id }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                      <div class="no-items" *ngIf="blocks.data.length == 0 && !blocks.is_loading">No items</div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a (click)="getNextBlocks()" class="card-footer-item">View next</a>
                </footer>
            </div>
        </section>
    </div>
</div>
