<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        Events
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                             <thead>
                              <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Block number</th>
                                <th class="is-hidden-mobile">Module</th>
                                <th class="is-hidden-mobile">Event</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of events.data; trackBy: events.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-calendar-check"></i>
                                    </td>
                                    <td>{{ event.id }}</td>
                                    <td><a routerLink="/system/block/{{ event.attributes.block_id }}">{{ event.attributes.block_id }}</a></td>
                                    <td class="is-hidden-mobile">{{ event.attributes.module_id }}</td>
                                    <td class="is-hidden-mobile">{{ event.attributes.event_id }}</td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="/system/event/{{ event.id }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a (click)="getNextEvents()" class="card-footer-item">View next</a>
                </footer>
            </div>
        </section>
    </div>
</div>
