<div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <div *ngIf="account$ | async as account">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header" *ngIf="account && account.attributes && account.attributes.id">
                  <div class="card-header-title">
                    <app-identicon [accountId]="account.attributes.id" size="64"></app-identicon><div class="address-mobile-format">{{ account.attributes.address }}</div>
                  </div>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-id-card fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="account">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                <td>{{ 'AccountDetail.Free Balance' | translate }}</td>
                                <td>{{ formatBalance(account.attributes.free_balance) | number:'1.0-15' }} {{ networkTokenSymbol }}</td>
                              </tr>
                              <tr>
                                <td>{{ 'AccountDetail.Reserved Balance' | translate }}</td>
                                <td>{{ formatBalance(account.attributes.reserved_balance) | number:'1.0-15' }} {{ networkTokenSymbol }}</td>
                              </tr>
                              <tr>
                                <td>{{ 'AccountDetail.Nonce' | translate }}</td>
                                <td>{{ account.attributes.nonce || 0}}</td>
                              </tr>
                              <tr *ngFor="let accountIndex of account.relationships.indices.data; trackBy: account.relationships.indices.trackBy">
                                <td>{{ 'AccountDetail.Account index' | translate }}</td>
                                <td><a routerLink="/indices/account/{{ accountIndex.id }}">{{ accountIndex.id}}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'AccountDetail.Created at block' | translate }}</td>
                                <td><a routerLink="{{ networkURLPrefix }}/block/{{ account.attributes.created_at_block }}">{{account.attributes.created_at_block}}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'AccountDetail.Updated at block' | translate }}</td>
                                <td><a routerLink="{{ networkURLPrefix }}/block/{{ account.attributes.updated_at_block }}">{{account.attributes.updated_at_block}}</a></td>
                              </tr>
                              <tr>
                                <td>{{ 'AccountDetail.Active' | translate }}</td>
                                <td>
                                  <i *ngIf="!account.attributes.is_reaped" class="fa fa-check" style="color: forestgreen"></i>
                                  <i *ngIf="account.attributes.is_reaped" class="fa fa-times" style="color: darkred"></i>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
        <section id="extrinsics">
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'AccountDetail.Last 25 transactions' | translate }}
                    </p>
                    <a [routerLink]="" fragment="extrinsics" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-file-signature fa-2x" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="!extrinsics || extrinsics.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="extrinsics && extrinsics.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'AccountDetail.ID' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'AccountDetail.Block' | translate }}</th>
                                <th>{{ 'AccountDetail.Module' | translate }}</th>
                                <th>{{ 'AccountDetail.Call' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'AccountDetail.Success' | translate }}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let extrinsic of extrinsics.data; trackBy: extrinsics.trackBy">
                                    <td width="5%">
                                      <i *ngIf="extrinsic.attributes.signed" class="fa fa-file-signature"></i>
                                      <i *ngIf="extrinsic.attributes.unsigned" class="fa fa-file-alt"></i>
                                    </td>
                                    <td><a routerLink="{{ networkURLPrefix }}/transaction/{{ extrinsic.attributes.extrinsic_hash ? '0x' + extrinsic.attributes.extrinsic_hash : extrinsic.id }}">{{ extrinsic.id }}</a></td>
                                    <td class="is-hidden-mobile"><a routerLink="{{ networkURLPrefix }}/block/{{ extrinsic.attributes.block_id }}">{{ extrinsic.attributes.block_id }}</a></td>
                                    <td>{{ extrinsic.attributes.module_id }}</td>
                                    <td>{{ extrinsic.attributes.call_id }}</td>
                                    <td class="is-hidden-mobile">
                                      <i *ngIf="extrinsic.attributes.success" class="fa fa-check" style="color: forestgreen"></i>
                                      <i *ngIf="extrinsic.attributes.error" class="fa fa-times" style="color: darkred"></i>
                                    </td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/transaction/{{ extrinsic.attributes.extrinsic_hash ? '0x' + extrinsic.attributes.extrinsic_hash : extrinsic.id }}">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                      <div class="no-items" *ngIf="extrinsics && !extrinsics.is_loading && extrinsics.data.length == 0">{{ 'AccountDetail.No extrinsics found for this account' | translate }}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
