<div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
     <section class="info-tiles">
       <div class="card" *ngIf="account">
            <header class="card-header">
                <p class="card-header-title">
                    Last 25 balance transfers sended by {{ account }}
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <thead>
                          <th></th>
                          <th>Block #</th>
                          <th>Destination</th>
                          <th>Amount</th>
                          <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let balanceTransfer of balanceTransfers.data; trackBy: balanceTransfers.trackBy">
                              <td width="5%"><i class="fa fa-exchange-alt"></i></td>
                              <td><a [routerLink]="['/system/block/', balanceTransfer.attributes.block_id]">{{ balanceTransfer.attributes.block_id }}</a></td>
                              <td class="is-hidden-tablet"><a [routerLink]="['/system/account/', balanceTransfer.attributes.destination]">{{ balanceTransfer.attributes.destination| slice:0:16 }}...</a></td>
                              <td class="is-hidden-mobile"><a [routerLink]="['/system/account/', balanceTransfer.attributes.destination]">{{ balanceTransfer.attributes.destination }}</a></td>
                              <td><i class="far fa-dot-circle"></i> {{ balanceTransfer.attributes.value / 1000000000000000 | number: '1.2'}}</td>
                              <td width="5%"><a class="button is-small is-primary" routerLink="/system/extrinsic/{{ balanceTransfer.id }}">Details</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </section>
</div>
