<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'AccountList.Accounts' | translate }}
                    </p>
                    <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-id-card fa-2x" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="accounts.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="accounts.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'AccountList.Address' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'AccountList.Updated at block' | translate }}</th>
                                <th>{{ 'AccountList.Active' | translate }}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let account of accounts.data; trackBy: accounts.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-id-card"></i>
                                    </td>
                                    <td><a routerLink="/account/{{ account.id }}" class="address-mobile-format"><app-identicon [accountId]="account.attributes.id"></app-identicon> {{ account.attributes.address }}</a></td>
                                    <td class="is-hidden-mobile"><a routerLink="/block/{{ account.attributes.updated_at_block }}">{{ account.attributes.updated_at_block }}</a></td>
                                    <td>
                                      <i *ngIf="!account.attributes.is_reaped" class="fa fa-check" style="color: forestgreen"></i>
                                      <i *ngIf="account.attributes.is_reaped" class="fa fa-times" style="color: darkred"></i>
                                    </td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="/account/{{ account.id }}">{{ 'AccountList.Details' | translate }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="no-items" *ngIf="accounts.data.length == 0 && !accounts.is_loading">{{ 'AccountList.No items' | translate }}</div>
                    </div>
                </div>
                <footer class="card-footer" *ngIf="accounts && accounts.data.length > 0">
                    <a routerLink="." fragment="{{ currentPage + 1 }}" class="card-footer-item">{{ 'AccountList.View next' | translate }}</a>
                </footer>
            </div>
        </section>
    </div>
</div>
